.projects-container {
  background-color: #000;
  max-width: 100%;
  .projects-header {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding: 15px 0;
    color: #eee5e5;
  }
  .image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    a {
      display: flex;
      width: 50%;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  .projects-container {
    .projects-header {
      font-size: 2rem;
    }
    .image-container {
      a {
        display: flex;
        width: 100%;
      }
    }
  }
}
