.projects-container {
  background-color: #000;
  max-width: 100%;
  .projects-header {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding: 15px 0;
    color: #eee5e5;
  }
  .button-container {
    text-align: center;
    padding-bottom: 15px;
    button {
      padding: 2px 5px;
      background-color: #000;
      border: 1px solid #fff;
      border-radius: 4px;
      color: #fff;
      margin: 0 4px;
      font-size: 16px;
      min-width: 110px;
      &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
      }
    }
  }
  .image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    a {
      display: flex;
      width: 50%;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  .projects-container {
    .projects-header {
      font-size: 2rem;
    }
    .image-container {
      a {
        display: flex;
        width: 100%;
      }
    }
  }
}
