.projects-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #0c0c0c;
  font-family: 'Montserrat', sans-serif;
}

.projects-Header {
  text-align: center;
  background-color: #000000;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  h1 {
    padding-top: 2rem;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .projects-Header {
    .header {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .projects-Header {
    .header {
      font-size: 2rem;
    }
  }
}
