.hero-container {
  background-color: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;

  .text-container {
    margin-top: 30vh;
    .hero-intro {
      font-size: clamp(1rem, 3vw, 4rem);
      color: #eee5e5;
      margin: 0;
    }
    .hero-name {
      font-size: clamp(1.5rem, 7vw, 10rem) !important;
      animation: nameColor 5s ease infinite;
      padding: 0 0 2vw 0;
      margin: 0;
    }
    .hero-description {
      font-size: clamp(1rem, 3vw, 4rem);
      color: #eee5e5;
    }
  }
}

.iconArrow {
  font-size: 3rem;
  animation: scrollDown 1s infinite;
  color: #eee5e5;
}
.iconArrow:hover {
  cursor: pointer;
}
@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  0% {
    transform: translateY(0);
  }
}

@keyframes nameColor {
  0% {
    color: #fc3836;
  }
  25% {
    color: #cc3735;
  }
  50% {
    color: #c21f13;
  }
  75% {
    color: #cc3735;
  }
  100% {
    color: #fc3836;
  }
}
