.hero-container {
  background-color: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  .text-container {
    margin-top: 30vh;
    .hero-intro {
      font-size: 4rem;
      color: #f8d6b4;
    }
    .hero-name {
      font-size: 4.5rem;
      animation: nameColor 15s ease infinite;
    }
    .hero-description {
      font-size: 2rem;
      color: #f8d6b4;
    }
  }
}

.iconArrow {
  font-size: 3rem;
  animation: scrollDown 1s infinite;
  color: #f8d6b4;
}
.iconArrow:hover {
  cursor: pointer;
}
@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes nameColor {
  0% {
    color: #fc3836;
  }
  25% {
    color: #cc3735;
  }
  50% {
    color: #c21f13;
  }
  75% {
    color: #cc3735;
  }
  100% {
    color: #fc3836;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    .text-container {
      margin-top: 30vh;
      .hero-intro {
        font-size: 2.75rem;
      }
      .hero-name {
        font-size: 2.5rem;
      }
      .hero-description {
        font-size: 1.33rem;
      }
    }
  }
  .iconArrow {
    font-size: 1.5rem;
  }
}
