.about-container {
  max-width: 100%;
  background-color: #f3f1f1;
  font-weight: 500;
  scroll-behavior: smooth;
  text-align: center;
  padding: 20px 0;

  #pulse {
    animation: pulse 1s ease-out infinite;
  }

  a {
    color: #107e7d;

    &:hover {
      color: #7dc5c5; //194242
      transition: 0.5s ease-in;
    }
  }

  p {
    padding-top: 10px;
  }
}


@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}