@import 'about';
@import 'card';
@import 'error404';
@import 'footer';
@import 'github.scss';
@import 'header';
@import 'hero';
@import 'singleProject.scss';


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  h1 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}
