@import 'about';
@import 'error404';
@import 'footer';
@import 'projects.scss';
@import 'header';
@import 'hero';
@import 'singleProject.scss';


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow-x: none;
  color: white;

  *{
    margin: 0;
  }

  h1 {
    font-size: clamp(32px, 3vw, 48px);
    padding: 10px 0;
  }

  p {
    font-size: clamp(16px, 2vw, 24px);
    padding: 5px 0;
  }
  a {
    font-size: clamp(16px, 2vw, 24px);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
  }

  button, .link {
    color: white;
    background-color: #c21f13;
    border: none;
    border-radius: 6px;
    padding: 0 5px;
    animation: bgColor 5s ease infinite;
    margin: 20px;

    &:hover {
      cursor: pointer;
      background-color: #cc3735;
    }
  }
}