.error404-container {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 100vw;

  .link {
    background-color: #c21f13;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 6px;
    text-decoration: none;
    animation: bgColor 5s ease infinite;
    &:hover {
      cursor: pointer;
      background-color: #cc3735;
    }
  }
}

@keyframes bgColor {
  0% {
    background-color: #fc3836;
  }
  25% {
    background-color: #cc3735;
  }
  50% {
    background-color: #c21f13;
  }
  75% {
    background-color: #cc3735;
  }
  100% {
    background-color: #fc3836;
  }
}
