header {
  padding: 10px 150px;
  background-color: black;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;

  nav {
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      :first-child {
        margin-right: auto;
        padding: 0;
      }
      :last-child {
        padding-right: 0;
      }
      li {
        padding: 0;
        margin: 0;
        display: inline-block;
        color: white;
        padding: 0 30px;
        :hover {
          cursor: pointer;
          border-bottom: 3px solid #fc3836;
        }
        .link {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
@keyframes nameColor {
  100% {
    color: #fc3836;
  }
  75% {
    color: #cc3735;
  }
  50% {
    color: #c21f13;
  }
  25% {
    color: #cc3735;
  }
  0% {
    color: #fc3836;
  }
}
