.card {
  margin: 0 5vw 1vh 5vw;
  width: 39vw;
  .projectTitle {
    padding-top: 3rem;
    font-size: 2.33rem;
  }
  .img {
    width: 100%;
    border: 3px solid white;
    height: 22rem;
    object-fit: cover;
  }
  .img:hover {
    opacity: 0.7;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .buttonContainer {
    height: 2rem;
    display: flex;
    text-align: center;
    font-size: 1rem;

    .gitHubButton {
      background-color: transparent;
      width: 50%;
      padding-top: 5px;
      border: 1px solid #222222;

      a {
        text-decoration: none;

        p {
          color: #222222;
        }
      }
    }
    .sourceButton {
      background-color: transparent;
      width: 50%;
      padding-top: 5px;
      border: 1px solid #222222;
      a {
        text-decoration: none;
        p {
          color: #222222;
        }
      }
    }
    .sourceButton:hover {
      transition: 0.5s ease-in;
      background-color: #222222;
      .sourceText {
        color: #dbdbdb;
        transition: 0.5s ease-in;
      }
    }
    .gitHubButton:hover {
      transition: 0.5s ease-in;
      background-color: #222222;
      .gitText {
        color: #dbdbdb;
        transition: 0.5s ease-in;
      }
    }
  }
  .projectDescription {
    color: #000;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 980px) {
  .card {
    width: 98vw;
    padding: 0 1vw 0 1vw;
    margin: 0;
    .projectDescription {
      font-size: 1.25rem;
      padding-bottom: 15px;
    }
  }
}
