.hero-container {
  background-color: #fc3836;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  animation: bgColor 15s ease infinite;

  .text-container {
    margin-top: 30vh;
    .intro {
      font-size: 4rem;
    }
    .name {
      font-size: 4.5rem;
    }
    p {
      font-size: 2rem;
    }
  }
}

.iconArrow {
  font-size: 3rem;
  animation: scrollDown 2s ease-out infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes bgColor {
  0% {
    background-color: #fc3836;
  }
  25% {
    background-color: #cc3735;
  }
  50% {
    background-color: #c21f13;
  }
  75% {
    background-color: #cc3735;
  }
  100% {
    background-color: #fc3836;
  }
}

@media screen and (max-width: 820px) {
  .hero-container {
    .text-container {
      margin-top: 30vh;
      .intro {
        font-size: 2.75rem;
      }
      .name {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.33rem;
      }
    }
  }
  .iconArrow {
    font-size: 1.5rem;
  }
}
