.projects-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  color: 0c0c0c;
  font-family: "Esteban", serif;
}

.projects-Header {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  h1 {
    padding: 5px 0 0 2rem;
  }
}
