@mixin carousel-button {
  top: 50%;
  border: none;
  background: none;
  font-size: 50px;
  transition: color 0.35s ease-in-out;
  &:hover {
    color: aliceblue;
    cursor: pointer;
  }
}

.current-project-container {
  font-family: 'Montserrat', serif;
  height: 100%;
  width: 100%;
  background-color: #fcebda;

  .left-container {
    width: 40%;
    justify-content: center;
    text-align: center;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem 0 2rem;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .right-container {
    width: 60%;
    display: flex;
    padding: 0 10vw 2vh 10vw;
    .left-arrow {
      float: left;
      @include carousel-button();
    }
    .right-arrow {
      float: right;
      @include carousel-button();
    }
    .inactive {
      position: absolute;
    }
    .active {
      text-align: center;
      width: 100%;
      .info-container {
        padding-top: 3rem;
        height: 100%;
        .info-img {
          height: 15vw;
          width: auto;
        }
        .info-title {
          width: 100%;
          font-size: 2.5rem;
        }
        .info-subtitle {
          width: 100%;
          font-size: 1rem;
          padding: 0 3.5rem 0 3.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .current-project-container {
    .left-container {
      width: 100%;
      justify-content: center;
      padding: 2rem 12rem 0 12rem;
      .left-container-title {
        font-size: 2.5rem;
      }
      .left-container-subtitle {
        font-size: 1.5rem;
      }
    }
    .right-container {
      width: 100%;
      padding: 0rem 8.7rem 5rem 8.7rem;
      .active {
        .info-container {
          .info-img {
            height: 14rem;
            width: auto;
          }
          .info-title {
            font-size: 2rem;
            padding-top: 1rem;
          }
          .info-subtitle {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .current-project-container {
    height: 100%;
    .left-container {
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 1rem 10vw;
      .left-container-title {
        font-size: 2.2rem;
      }
      .left-container-subtitle {
        font-size: 1rem;
      }
    }
    .right-container {
      width: 100%;
      padding: 0rem 2rem 5rem 2rem;
      .active {
        .info-container {
          .info-img {
            height: 10rem;
            width: auto;
          }
          .info-title {
            font-size: 2rem;
          }
          .info-subtitle {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .current-project-container {
    .left-container {
      padding: 1rem 5rem;
    }
    .right-container {
      width: 100%;
      padding: 0rem 1rem 2.5rem 1rem;
      .left-arrow {
        font-size: 25px;
      }
      .right-arrow {
        font-size: 25px;
      }
      .active {
        .info-container {
          font-size: 1rem;
          .info-img {
            height: 7rem;
            width: auto;
          }
          .info-title {
            font-size: 1.5rem;
          }
          .info-subtitle {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
