* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', serif;
  text-decoration: none;
}
//Palette: https://coolors.co/0c0c0c-f9dbbd-fc3836-ffffff-107e7d
